In [1]:
import numpy as np
import pandas as pd

In [8]:
ts = pd.DataFrame()
ts["t"] = np.arange(0, 33)
ts.head()

   t
0  0
1  1
2  2
3  3
4  4

In [4]:
def system(t, a=1.0/512, b=0, c=-1.5, d=5):
    results = a*(t**3) + b*(t**2) + c*t + d
    return results

In [12]:
results = system(ts.t)
print(f"min={results.min()}, max={results.max()}")
print(results)

min=-11.0, max=21.0
0      5.000000
1      3.501953
2      2.015625
3      0.552734
4     -0.875000
5     -2.255859
6     -3.578125
7     -4.830078
8     -6.000000
9     -7.076172
10    -8.046875
11    -8.900391
12    -9.625000
13   -10.208984
14   -10.640625
15   -10.908203
16   -11.000000
17   -10.904297
18   -10.609375
19   -10.103516
20    -9.375000
21    -8.412109
22    -7.203125
23    -5.736328
24    -4.000000
25    -1.982422
26     0.328125
27     2.943359
28     5.875000
29     9.134766
30    12.734375
31    16.685547
32    21.000000
Name: t, dtype: float64